<nav id="sidebar">
  <div id="header-wrapper">
    <div id="header">
      {{ partial "logo.html" . }}
    </div>

    <p><a href="https://moonmail.io/?utm_source=nodemailer&amp;utm_campaign=nodemailer&amp;utm_medium=header-link">Proudly Sponsored by <b>MoonMail</b></a></p>

    {{ if .Site.Params.search }}
        {{ partial "search.html" . }}
    {{ end }}
</div>


  <div class="highlightable">
      <div id="ads">
          <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=nodemailercom" id="_carbonads_js"></script>
      </div>
    <ul class="topics">
      {{ $page := . }}
      {{ if .Site.Params.menu }}
        {{ $.Scratch.Set "menuItems" (slice) }}
        {{ range $i, $key := .Site.Params.menu }}
          {{ if isset $page.Site.Sections $key }}
            {{ $.Scratch.Add "menuItems" $key }}
          {{ else }}
            <li class="dd-item"><div class="notices warning"><p>
            {{ printf "Unknown section '%s' found in site menu" $key }}
            </p></div></li>
          {{ end }}
        {{ end }}
      {{ else }}
        {{ $.Scratch.Set "menuItems" .Site.Sections }}
      {{ end }}
      {{ $menuItems := $.Scratch.Get "menuItems" }}
      {{ range $i, $key := $menuItems }}
      {{ if ne $key "" }}

      {{ if not $.Site.Params.menu }}
        {{ $.Scratch.Set "currentItem" (index $page.Site.Sections $i) }}
      {{ else }}
        {{ $.Scratch.Set "currentItem" (index $page.Site.Sections $key) }}
      {{ end }}
      {{ $value := $.Scratch.Get "currentItem" }}
      {{ $first := (index $value 0).Page }}

      <li class="dd-item {{ if eq $page.RelPermalink $first.RelPermalink }}active{{ end }} {{if in $page.RelPermalink $first.RelPermalink }}parent{{ end }}" data-nav-id="{{ $first.RelPermalink }}">
        <a href="{{ $first.RelPermalink }}">
          <span>
            {{ if isset $first.Params "icon" }}
              {{ printf $first.Params.icon | safeHTML }}
            {{ end }}
             {{ $first.Title }}
            {{ if $page.Site.Params.showVisitedLinks}}
              <i class="fa fa-check read-icon"></i>
             {{ end }}
           </span>
        </a>
        {{ if gt $value.Len 1}}
        <ul>
          {{ range $k, $p := $value }}
          {{ if gt $k 0 }}
            <li class="dd-item {{ if eq $page.RelPermalink $p.Page.RelPermalink }}active{{ end }}" data-nav-id="{{ $p.Page.RelPermalink }}">
              <a href="{{ $p.Page.RelPermalink }}">
                <span>{{ $p.Page.Title }}    {{ if $page.Site.Params.showVisitedLinks}}  <i class="fa fa-check read-icon">  {{ end }} </i></span>
              </a>
            </li>
          {{ end }}
          {{ end }}
        </ul>
        {{ end }}
      </li>
      {{ end }}
      {{ end }}
      <li class="dd-item">
        <a href="https://blog.nodemailer.com">
          <span>
             <b>9. </b>
             Blog
           </span>
        </a>
      </li>
      <li class="dd-item">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
         <input type="hidden" name="cmd" value="_s-xclick">
         <input type="hidden" name="hosted_button_id" value="DB26KWR2BQX5W">
         <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
         <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
         </form>
      </li>
    </ul>
    <hr>
     {{ if .Site.Params.showVisitedLinks}}
     <a class="padding" href="#" data-clear-history-toggle=""><i class="fa fa-fw fa-history"></i> Clear History</a>
     {{ end }}
  </div>
</nav>
